.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #ffffff;
  border-radius: 0.25rem;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
}
.breadcrumb-item + .breadcrumb-item:before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #6c757d;
  content: '/';
}
.breadcrumb-item + .breadcrumb-item:hover:before {
  text-decoration: underline;
  text-decoration: none;
}
.breadcrumb-item.active {
  color: #6c757d;
}
.bd-example {
  position: relative;
  padding: 1rem;
  margin: 1rem -15px;
  border: solid #f7f7f9;
  border-width: 0.2rem 0 0;
}
.bd-example:after {
  display: block;
  clear: both;
  content: '';
}
@media (min-width: 576px) {
  .bd-example {
    padding: 1.5rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    border-width: 0.2rem;
  }
}
