.input-card {
  margin-bottom: 0px;

  .md-collapse-label:after {
    display: none;
  }
  .input-section-label {
    color: #3c4858;
    font-size: 18px;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
  }
  .md-collapse-title {
    font-size: 18px !important;
  }
  .md-collapse-content {
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .field-wrap {
    margin-bottom: 25px;
  }
  .md-card-content {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
